h1{

padding: 10px;
color: blueviolet;
background-color: yellow;


}

.secao1{
padding: 10px;
background-color: aqua;
color: blue;

}

.secao2{

padding: 10px;
background-color: blanchedalmond;
color: black;

}

h2{

padding: 10px;

}
